body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border: 4px dashed white;
    padding: 5%;
    margin: 2%;
}

h1 {
    color:white;
}

a:link {
    color: yellow;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: blue;
}

a:active {
    color: white;
}